@import '../../../styles/settings.scss';

.component {
    width: 100%;
    height: 100vh;
    @include flex(center, center);

    h2 {
        margin: 0;
        line-height: 1;
        padding: 20px;
    }
    
    a {
        text-decoration: none;
        color: $secondary-color;

        &:hover {
            color: $primary-color;
            transition: 1.5s;
        }
    }
}
