@import "settings.scss";
@import "normalize.scss";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  font-size: $base-size;
  overflow-y: scroll;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}